@media only screen and (max-width:600px) {
  .header_row i {
    display: none
  }

  .icons {
    display: block
  }

  .header_row .btn button {
    display: none
  }

  #menu-btn {
    display: inline-block;
    color: #000
  }

  nav .header_row {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px
  }

  nav .header_row .logo img {
    width: 100%;
    height: auto
  }

  nav .header_row ul {
    position: absolute;
    top: 102%;
    left: -150%;
    background: #eee;
    width: 100%;
    height: auto;
    display: block;
    transition: all .5s
  }

  nav .header_row ul.active {
    left: 0;
    padding: 0
  }

  nav .header_row ul li a {
    color: #000;
    display: block;
    margin: 10px;
    font-size: 16px;
    text-align: left;
    padding: 10px
  }

  .form_row {
    padding: 60px 0
  }

  .form-image-bg {
    height: auto
  }

  .form .detail {
    flex-wrap: wrap
  }

  .form .detail input {
    width: 100%
  }

  .form .detail textarea {
    width: 100%
  }

  #submit {
    width: 25%
  }

  .cover-box {
    width: 100%
  }

  .boxx {
    width: 100%
  }

  .top-global-bg {
    width: 100%;
    height: auto
  }

  .container-fluid {
    padding: 20px
  }

  .container-villa-row .left-villa {
    width: 100%
  }

  .container-villa-row .right-villa {
    width: 100%;
    height: auto
  }

  .container-villa-two-row {
    flex-wrap: wrap
  }

  .container-villa-two-row .left-two {
    width: 100%;
    height: auto
  }

  .container-villa-two-row .right-two {
    width: 100%
  }

  .container-slider-row {
    flex-wrap: wrap
  }

  .container-gallary-row .one {
    width: 100%
  }

  .container-slider-row .left-slider {
    width: 100%;
    height: auto
  }

  .container-slider-row .right-slider {
    width: 100%
  }

  .container-images-row .box {
    width: 100%
  }

  .container-footer-row .left-ul {
    width: 100%
  }

  .right-ul {
    width: 100%
  }

  .aboutone {
    width: 100%
  }

  .contact-info {
    width: 100%;
    height: auto
  }

  .contact-frm {
    width: 100%;
    height: auto;
    padding: 0
  }

  .contact_form .button_row button {
    width: 50%
  }
}